<!-- <%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ page trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>建达数据平台</title>
    <link rel="stylesheet" href="libs/index.css">
    <link rel="stylesheet" href="libs/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <input type="checkbox" id="sidebar_control">
    <header id="header">
      <label for="sidebar_control" class="logo"><img src="./images/logo_new.png" alt=""></label>
      <div class="title">建达数据平台</div>
      <div class="user-box" @mouseleave="user_switch = false" :class="{'open': user_switch}">
        <div class="user-image">
          <div class="img" style="background-image: url(./images/zero.jpg);" @mouseenter="user_switch = true"></div>
        </div>
        <div class="user-content">
          <div class="user-content-head">
            <div class="info">
              <div class="img" style="background-image: url(./images/zero.jpg);"></div>
              <div class="account">2847*****@qq.com</div>
            </div>
            <ul class="nav clearfix">
              <li>基本资料</li>
              <li>基本资料</li>
              <li>基本资料</li>
            </ul>
          </div>
          <div class="user-content-body">
            <ul>
              <li>
                <i class="iconfont icon-servicefill"></i>
                <span>安全管控</span>
              </li>
              <li>
                <i class="iconfont icon-servicefill"></i>
                <span>安全管控</span>
              </li>
              <li>
                <i class="iconfont icon-servicefill"></i>
                <span>安全管控</span>
              </li>
            </ul>
          </div>
          <div class="user-content-footer"><a href="/user/logout.html">退出</a></div>
        </div>
      </div>
    </header>
    <div class="sidebar" :class="{'hover': open}" id="sidebar" @mouseleave="close" @mousemove="opensidebar">
      <div class="main-side">
        <div class="content">
          <div class="item" :class="{'active': index === mindex, 'select': index === acmindex}" v-for="(i, index) in ich" @mouseenter="selectmain(index)" @click="openPage(i)">
            <i class="iconfont" :class="i.icon"></i>
            <div class="label" v-text="i.label"></div>
            <i class="iconfont icon-right"></i>
          </div>
        </div>
      </div>
      <div class="nav-side" :class="{'open': ni.length !== 0 && !NavTerminal}">
        <div class="content">
          <div class="item" v-for="(i, index) in ni" :class="{'active': index === nindex}" @mouseenter="selectnav(index)" @click="openPage(i)">
            <div class="seize"></div>
            <div class="label" v-text="i.label"></div>
            <i class="iconfont icon-right" v-if="!i.terminal"></i>
          </div>
        </div>
      </div>
      <div class="nav-side terminal" :class="{'open': ni.length !== 0 && NavTerminal}">
        <div class="content">
          <div class="item" v-for="(i, index) in ni" :class="{'active': index === nindex}" @mouseenter="selectnav(index)" @click="openPage(i)">
            <div class="seize"></div>
            <div class="label" v-text="i.label"></div>
            <i class="iconfont icon-right" v-if="!i.terminal"></i>
          </div>
        </div>
      </div>
      <div class="terminal-side" :class="{'open': san.length !== 0, 'ready': ni.length !== 0}">
        <div class="content">
          <div class="item" v-for="i in san" @click="openPage(i)">
            <div class="seize"></div>
            <div class="label" v-text="i.label"></div>
          </div>
        </div>
      </div>
    </div>
    <main>
      <!-- <iframe src="${ROOT_INDEX}" frameborder="0" id="iframe"></iframe> -->
      <iframe src="appadd.html" frameborder="0" id="iframe"></iframe>
    </main>
    <!-- <script>var json = ${functions}</script> -->
    <script src="libs/jquery.min.js"></script>
    <script src="libs/vue.min.js"></script>
    <script src="libs/index.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>