<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>demo</title>
    <link rel="stylesheet" href="libs/index.css">
    <link rel="stylesheet" href="libs/iconfont.css">
    <link rel="stylesheet" href="css/fixed.min.css">
  </head>

  <body>
    <main class="wrapper" id="demo" v-cloak>
      <div class="top-bar">
        <h5 class="title">Table Demo</h5>
      </div>
      <div class="form search">
        <label class="form-item">
          <span>用户名：</span>
          <el-input v-model="form.name" placeholder="请输入用户名"></el-input>
        </label>
        <label class="form-item">
          <span>手机号：</span>
          <el-input v-model="form.phone" placeholder="请输入手机号"></el-input>
        </label>
        <el-button size="mini" type="water">查询</el-button>
      </div>
      <div class="table-wrapper">
        <el-table :data="tableData" style="width: 100%" header-row-class-name="table-header" stripe :highlight-current-row="false">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-table :data="props.row.resourceIndexes" style="width: 100%" header-row-class-name="table-header" :highlight-current-row="false" class="row-table">
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="chineseName" label="中文名"></el-table-column>
                <el-table-column prop="type" label="类型" width="120"></el-table-column>
                <el-table-column prop="length" label="长度" width="120"></el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column prop="fillDepName" label="名称" width="180"></el-table-column>
          <el-table-column prop="fillDepCode" label="代码" width="180"></el-table-column>
          <el-table-column prop="showStatusText" label="状态"></el-table-column>
          <el-table-column fixed="right" label="操作" width="100" class-name="column-sousa">
            <template slot-scope="scope">
              <el-button @click="showDetail(scope.row)" type="text" size="small">查看</el-button>
              <i>|</i>
              <el-button type="text" size="small">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination @size-change="sizeChange" @current-change="currentChange" :current-page="currentPage" :page-sizes="[100, 200, 300, 400]" :page-size="size" layout="total, sizes, prev, pager, next, jumper" :total="total">
        </el-pagination>
      </div>
    </main>
    <script src="libs/vue.min.js"></script>
    <script src="libs/index.js"></script>
    <script src="js/table.min.js"></script>
  </body>
</html>