<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1.0">
    <title>demo</title>
    <link rel="stylesheet" href="css/mule.css">
  </head>

  <body>
    <div id="app">
      <div class="tags">
        <div class="title">职业</div>
        <div class="content">
          <div class="tag" :class="{'select': i.select}" @click="selectOccupation(i)" v-for="i in occupationTags" v-text="i.txt"></div>
        </div>
      </div>
      <div class="tags" style="width: 300px">
        <div class="title">资历</div>
        <div class="content">
          <div class="tag" :class="{'select': i.select}" @click="selectSp(i)" v-for="i in spTags" v-text="i.txt">
          </div>
        </div>
      </div>
      <div class="tags" style="width: 150px">
        <div class="title">性别</div>
        <div class="content">
          <div class="tag" :class="{'select': i.select}" @click="selectSex(i)" v-for="i in sexTags"
            v-text="i.txt"></div>
        </div>
      </div>
      <div class="tags" style="width: 200px">
        <div class="title">位置</div>
        <div class="content">
          <div class="tag" :class="{'select': i.select}" @click="selectStance(i)" v-for="i in stanceTags" v-text="i.txt">
          </div>
        </div>
      </div>
      <div class="tags">
        <div class="title">标签</div>
        <div class="content">
          <div class="tag" :class="{'select': i.select}" @click="i.select = !i.select" v-for="i in tags"
            v-text="i.txt"></div>
        </div>
      </div>
      <div class="persons">
        <div class="person" :class="'level' + i.level" v-for="i in Persons" v-text="i.name"></div>
      </div>
    </div>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/vue.min.js"></script>
    <script src="js/mule.js"></script>
  </body>
</html>