body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}
.wrapper {
  padding: 13px 15px 0 13px;
}
.top-bar {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  margin-top: -5px;
  line-height: 36px;
  height: 36px;
  .title {
    font-weight: 500;
    line-height: 15.4px;
    font-size: 14px;
    padding-left: 10px;
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    border-left: 2px solid #88b7e0;
  }
}

.form-item {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin-right: 1em;
  .el-input {
    display: inline-block;
    input {
      padding: 1px 12px;
      height: 28px;
      line-height: 1.5;
      border-radius: 0;
      border: 1px solid #d7d8d9;
      font-size: 12px;
      &:hover {
        border: 1px solid #00c1de;
      }
    }
  }
}
.search {
  padding-bottom: 5px;
  .el-input {
    width: 123px;
  }
}
.el-button--water {
  background: #00c1de;
  border-color: transparent;
  color: #fff;
  font-weight: 400;
  padding: 7px 2em;
  border-radius: 0;
  transition: background .3s;
  vertical-align: top;
  &:hover {
    background: #33cde5;
    border-color: transparent;
    color: #fff;
  }
}
.table-wrapper {
  margin-top: 8px;
  border: 1px solid #eee;
  .el-pagination {
    border-top: 1px solid #eee;
    padding: 10px;
    text-align: right;
    .el-pagination__total {
      font-size: 12px;
      color: #73777a;
    }
    .el-input__inner {
      border-radius: 0;
      font-size: 12px;
      color: #333;
      &:hover {
        border-color: #00c1de;
      }
    }
    .el-select {
      .el-input__inner {
        border-radius: 0;
      }
    }
  }
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #fbfbfb;
}
.el-table {
  &::before {
    background: transparent;
    height: 0;
  }
  .table-header th {
    padding: 12px 8px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    background: #f5f5f6;
    border: 0;
    &.column-sousa {
      text-align: center;
    }
    &.column-check {
      padding: 12px 14px;
    }
  }
  td {
    border: 0;
    padding: 10px 8px;
    font-size: 12px;
    color: #333;
    background: #fff;
    &.column-sousa {
      padding: 10px 14px;
      text-align: right;
      font-size: 0;
    }
    &.column-check {
      padding: 10px 14px;
    }
  }
  .el-table__body-wrapper {
    tr:hover {
      td {
        background: #f3f4f4;
      }
    }
  }
  .cell {
    padding: 0;
    line-height: 1;
    .el-button--text {
      padding: 0;
      margin: 0;
      color: #06c;
      font-family: PingFangSC,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,"sans-serif";
      font-weight: normal;
      transition: color .3s;
      &:hover {
        color: #039;
      }
    }
    i {
      padding: 0 6px;
      font-size: 12px;
      font-style: normal;
    }
  }
}
.el-table__fixed-right::before, .el-table__fixed::before {
  height: 0;
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td {
  background: #f3f4f4;
}















