@import './libs/base';
@import 'cover';

.dict-wrapper {
  .item-detail,
  .dict-item,
  .dict-type {
    width: 33%;
    float: left;
    padding: 3px 12px 10px 0;
  }
  .content {
    border: 1px solid #ddd;
  }
  .header {
    height: 36px;
    background: #f9f9f9;
    .search {
      float: right;
      padding: 4px;
      .el-button {
        padding: 7px 1em;
      }
    }
    .form-item {
      margin: 0;
      .el-input {
        width: 160px;
      }
    }
  }
  .title {
    font-size: 13px;
    padding: 0 1em;
    line-height: 36px;
  }
  .body {
    padding: 0 5px;
    .el-table .table-header {
      th {
        padding: 8px;
        background: #fff;
      }
    }
    .el-table__header-wrapper {
      border-bottom: 1px solid #eee;
    }
    .form {
      padding-top: 10px;
    }
    .form-item {
      width: 100%;
      margin-bottom: 10px;
      span {
        display: inline-block;
        float: left;
        width: 5em;
        font-weight: 400;
        line-height: 28px;
        text-align: right;
      }
      .el-input {
        overflow: hidden;
        width: auto;
      }
    }
    .sousa {
      padding: 0 60px 10px;
    }
  }
}