@import './libs/base';

body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}
header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 50px;
  background: #252a2f;
  z-index: 1;
  .logo {
    display: inline-block;
    float: left;
    width: 51px;
    height: 100%;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    // border-right: 1px solid hsla(0,0%,100%,.15);
    margin-right: 1px;
    cursor: pointer;
    img {
      width: 26px;
      vertical-align: middle;
    }
    &:hover {
      background-color: #191d21;
    }
  }
  .title {
    float: left;
    line-height: 50px;
    padding: 0 12px;
    font-size: 14px;
    vertical-align: top;
    color: #fff;
    cursor: default;
    user-select: none;
    &:hover {
      background-color: #191d21;
    }
  }
  .user-box {
    position: relative;
    float: right;
    .user-image {
      width: 56px;
      height: 50px;
      padding: 9px 12px;
      cursor: pointer;
      .img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #ded center no-repeat / contain;
      }
      &:hover {
        background-color: rgba(0,0,0,.25);
      }
    }
    .user-content {
      position: absolute;
      top: 50px; right: 0;
      width: 280px;
      background-color: #191d21;
      transform: translate(100%, 0);
      opacity: 0;
      transition: all 0.3s;
    }
    .user-content-head {
      padding: 10px 15px;
      border-bottom: 1px solid hsla(0,0%,100%,.1);
    }
    .user-content-body {
      padding: 8px 0;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      i {
        font-size: 14px;
        color: hsla(0,0%,100%,.65);
        margin-right: 8px;
        transition: color 0.3s;
      }
      li {
        padding: 0 15px;
        list-style: none;
        font-size: 12px;
        color: #fff;
        line-height: 32px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #00c1de;
          i {
            color: #fff;
          }
        }
      }
    }
    .user-content-footer {
      height: 41px;
      border-top: 1px solid hsla(0,0%,100%,.1);
      a {
        display: block;
        color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 40px;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #00c1de;
        }
      }
    }
    .info {
      height: 32px;
      .img {
        float: left;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #ded center no-repeat / contain;
      }
      .account {
        overflow: hidden;
        font-size: 12px;
        line-height: 32px;
        padding-left: 10px;
        color: #fff;
      }
    }
    .nav {
      margin: 10px 0 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        width: 33.333333%;
        border-left: 1px solid hsla(0,0%,100%,.1);
        text-align: center;
        list-style: none;
        font-size: 12px;
        color: #fff;
        opacity: .85;
        min-width: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        transition: color 0.3s;
        &:first-child {
          border-left: none;
        }
        &:hover {
          color: #00c1de;
        }
      }
    }
    &.open {
      background-color: #191d21;
      .user-content {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
}
.sidebar {
  position: fixed;
  top: 50px; bottom: 0;
  left: 0;
  width: 50px;
  background: #252a2f;
  z-index: 9;
  transition: width 0.2s ease;
  &.hover,
  &:hover {
    width: 230px;
  }
  .main-side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 1px solid hsla(0,0%,100%,.1);
    // border-right: 1px solid hsla(0,0%,100%,.1);
    background: inherit;
    overflow: hidden;
    z-index: 3;
    .content {
      width: 250px;
    }
  }
  .nav-side {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 200px;
    border-top: 1px solid hsla(0,0%,100%,.1);
    border-left: 1px solid hsla(0,0%,100%,.1);
    box-shadow: -50px 0 #252a2f;
    background: inherit;
    overflow: hidden;
    z-index: 2;
    transition: all 0.2s ease;
    .content {
      width: 220px;
    }
    &.open {
      right: -200px;
      transition: right 0.2s ease .2s;
    }
    &.terminal {
      background: #303538;
      .content {
        width: 270px;
      }
      .item .label {
        width: 220px;
      }
      &.open {
        width: 250px;
        right: -250px;
        max-width: 250px;
        transition: right 0.2s ease .2s;
      }
    }
  }
  .terminal-side {
    position: absolute;
    right: 0;
    height: 100%;
    width: 250px;
    border-top: 1px solid hsla(0,0%,100%,.1);
    // border-left: 1px solid hsla(0,0%,100%,.1);
    background: #303538;
    overflow: hidden;
    z-index: 1;
    transition: right 0.4s ease-in;
    visibility: hidden;
    .content {
      width: 270px;
    }
    .item .label {
      width: 220px;
    }
    &.ready {
      // right: -200px;
      visibility: visible;
      // transition: right 0.2s ease .3s;
    }
    &.open {
      right: -450px;
      transition: right 0.4s ease .1s;
    }
  }
  .item {
    color: hsla(0,0%,100%,.65);
    height: 40px;
    cursor: pointer;
    transition: background .1s;
    cursor: pointer;
    .iconfont {
      display: inline-block;
      float: left;
      width: 50px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      transition: color .2s;
    }
    .icon-right {
      width: 30px;
    }
    .label {
      display: inline-block;
      float: left;
      color: #fff;
      vertical-align: middle;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 12px;
      width: 150px;
      line-height: 40px;
      user-select: none;
      transition: color .2s;
    }
    .seize {
      display: inline-block;
      float: left;
      width: 20px;
      height: 100%;
    }
    &.active,
    &:hover {
      background-color: #191d21;
      .iconfont {
        color: #fff;
      }
      .icon-right,
      .label {
        color: #00c1de;
      }
    }
    &.select {
      background: #00c1de;
      .icon-right,
      .label,
      .iconfont {
        color: #fff;
      }
    }
  }
}
main {
  position: absolute;
  top: 50px; bottom: 0;
  left: 50px; right: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: left 0.2s ease;
  font-size: 0;
  iframe {
    width: 100%;
    min-height: 100%;
  }
}
#sidebar_control:checked + header {
  .logo {
    background-color: #191d21;
  }
  + .sidebar {
    width: 230px;
    + main {
      left: 230px;
    }
  }
}
.iconfont {
  font-size: inherit;
}
// element
.el-notification.right {
  right: 6px;
}
.el-notification {
  border-radius: 4px;
  width: 305px;
  padding: 8px 24px 8px 10px;
}
.el-notification__closeBtn {
  top: 8px;
  right: 10px;
}
.el-notification__icon {
  float: left;
  margin: 6px 0;
}
.el-notification__group {
  margin-left: 10px;
}
.el-notification__title {
  font-weight: 500;
  font-size: 14px;
}
.el-notification__content {
  font-size: 12px;
  p {
    line-height: 1.5;
    word-break: break-word;
  }
}
.el-message {
  min-width: 140px;
  padding: 10px;
  background: #fff;
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  i.icon-loading {
    margin-right: 7px;
    padding-top: 1px;
    color: #00c1e0;
    animation: oo-spin 2s infinite linear;
  }
}
.el-message__closeBtn {
  right: 10px;
}
.el-message__icon {
  margin-right: 7px;
}
.el-message-loading p {
  color: #62656a;
  word-break: break-word;
}
@keyframes oo-spin {
  from {transform: rotateZ(0deg);}
  to   {transform: rotateZ(360deg);}
}






