@import './libs/base';

$sc: #51baf2;
#app {
  padding-top: 1em 0;
}
.tags {
  float: left;
  width: 100%;
  padding: 0 1em;
  .title {
    float: left;
    display: block;
    width: 3em;
    margin: .5em;
    line-height: 2;
    border: 1px solid transparent;
    text-align: right;
    font-size: 12px;
  }
  .content {
    overflow: hidden;
  }
  .tag {
    display: inline-block;
    margin: .5em;
    border: 1px solid #eee;
    border-radius: 4px;
    line-height: 2;
    padding: 0 .5em;
    font-size: 12px;
    color: #999;
    cursor: pointer;
    &.select {
      border-color: $sc;
      background-color: $sc;
      color: #fff;
    }
  }
}
.persons {
  padding: 1em;
  font-size: 12px;
  overflow: hidden;
  .person {
    display: inline-block;
    margin: .5em;
    &.level1 {color: #aaa;}
    &.level2 {color: #777;}
    &.level3 {color: #409eff;}
    &.level4 {color: #d08ce0;}
    &.level5 {color: #f7a650;}
    &.level6 {color: #ff3102;}
  }
}